:root {
    --ifm-color-primary: #0045db;
    --ifm-color-primary-dark: #003ec5;
    --ifm-color-primary-darker: #003bba;
    --ifm-color-primary-darkest: #003099;
    --ifm-color-primary-light: #004cf1;
    --ifm-color-primary-lighter: #004ffc;
    --ifm-color-primary-lightest: #1e65ff;
    --ifm-background-color: #fafbfc;
}

[data-theme='dark'] {
    --ifm-color-primary: #4a7ff2;
    --ifm-color-primary-dark: #bdcbe5;
    --ifm-color-primary-darker: #acbede;
    --ifm-color-primary-darkest: #7a96cb;
    --ifm-color-primary-light: #ffffff;
    --ifm-color-primary-lighter: #ffffff;
    --ifm-color-primary-lightest: #ffffff;
    --ifm-background-color: #242830;
}

.pull_request {
  background: url('/static/img/pr.png') center left/1em no-repeat;
  display: inline-block;
  padding-left: 1.1em;
}

[data-theme='dark'] .pull_request {
  filter: invert(1);
}

h2 a.pull_request {
  color: #000;
  font-size: 90%;
}

.minimal_requirements {
  font-size: 90%;
}

.minimal_requirements p {
  display: inline-block;
  margin-right: 1em;
  font-style: italic;
}

.minimal_requirements dl {
  display: inline-block;
}

.minimal_requirements dt {
  display: inline-block;
}

.minimal_requirements-title__ruby {
  width: 1em;
}

.minimal_requirements-title__rails {
  width: 2em;
}

.minimal_requirements dd {
  display: inline-block;
  margin: 0 1em 0 0.5em;
}
